@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;500&family=Rubik:wght@500;600&display=swap');


body {
    background-color:rgb(238, 210, 207);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Rubik';
  }
  
.navbar {
  position: fixed;
  background-color: rgb(238, 210, 207);
  padding: 0.01em;
  top:0;
  width: 100%;
  padding-bottom: 0;
}


.navbar .container {
  display: grid;
  grid-template-columns: 180px auto;
  justify-content:unset;

}

.navbar nav {
  display: block;
  justify-content: space-between;
  background: rgb(238, 210, 207);



}

ul {
  display: flex;
  list-style-type:none;

}

ul.primary-nav {
    margin: 0px;
  }

  a{
    color:#5e4747;
    transition: color 0.5s;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.5em;
    text-align: right;
  }

  a:hover {
    font-weight: bold;
    color: #e6c1c2;
  }

ul.primary-navi {
  margin: 0;
  padding-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  margin: 40px 20px 20px 20px;
}

.container .heading{
  /* position: sticky; */
  padding-bottom: 10px;
}

.container .heading h1 {
  color: #c85456;
  transition: color 0.4s;
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 100px;
 
}

h1 {
  position: sticky;
}

h1:hover{
  color:#250000;
}

.flex-container{
  display:flex;
  background-image:linear-gradient(rgb(238, 210, 207),rgb(246, 225, 200));
}

.box {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 5vb;
  padding: 10px 10px;
}

.column{
  flex: 20%;
  max-width: 50%;
  padding: 20px 20px;
}

.column img {
  margin-top: 8px;
  transition: 0.5s;
  justify-content:center;
  align-content:center;
  align-items: center;
  width:90%;
}


img:hover {
  color: #c85456;
  opacity:0.5;
}

#scrollbar1::-webkit-scrollbar {
  width: 10px;
}

#scrollbar1::-webkit-scrollbar-track {
  
  background-color: rgb(231, 197, 177);
  border: 1px solid rgb(231, 197, 177);
}

#scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 8px;
border: 3px solid transparent;
 background-clip: content-box;
  background-color: #6d211e;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

