@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;500&family=Rubik:wght@500;600&display=swap');


body {
  background-image: url("/assets/homebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Rubik';
}



.links{
  color:#5e4747;
  list-style-type: none;
  text-decoration: none;
  display: block;
  padding: .2em;
  font-size: 3em;
  text-align: right;
  opacity: 1;
  animation: fade 2s linear;

}


@keyframes fade {
  0%, 100% { opacity: 0 }
  100% { opacity: 1 }
}

a {
  text-decoration: none;
  color: #6d211e;
  transition: color 0.5s;
}

a:hover {
  color:rgba(240, 203, 189, 0.466)
}



.about {
  position: relative;
  top: 380px;
  right: 800px;;
}

.portfolio {
  position: relative;
  top: 510px;
  right: 1450px;
}

.contact {
  position: relative;
  top: 700px;
  right: 800px;
}
