@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;500&family=Rubik:wght@500;600&display=swap');


body {
  background-image: url("/assets/homebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Rubik';
}



.links{
  height: auto;
  width: 1200px;
  margin: 0 auto;
  color:#5e4747;
  list-style-type: none;
  text-decoration: none;
  display: block;
  padding: .2em;
  font-size: 3em;
  text-align: right;
  opacity: 1;
  animation: fade 2s linear;

}


@keyframes fade {
  0%, 100% { opacity: 0 }
  100% { opacity: 1 }
}

a {
  text-decoration: none;
  color: #6d211e;
  transition: color 0.5s;
}

a:hover {
  color:rgba(240, 203, 189, 0.466)
}



.about {
  position: relative;
  top: 45vh;
  right: 25vi;;
}

.portfolio {
  position: relative;
  top: 48vh;
  right: 46vi;
}

.contact {
  position: relative;
  top: 67vh;
  right: 33vi;
}

@media (max-width: 600px) {
  .links {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}